<app-header></app-header>
<main>
  <section class="main-section pad-70">
    <div class="headline">
      <span>LAGRANE</span>
      <h1>Consultoria empresarial de alta qualidade!</h1>
    </div>
    <img ngSrc="principal.png" width="650" height="550" alt="principal" priority >
  </section>
  <section class="benefit-section pad-70">
    <div class="benefit-data">
      <h2>86% das <br/>
      empresas</h2>
    </div>
    <p>não sabem lidar com seus problemas <b>burocráticos</b> e <b>estrutural</b> </p>
  </section>
  <section class="cta-section">
    <btn-primary btnText="Fale com nossos especialistas"></btn-primary> 
  </section>
  <newsletter-form></newsletter-form>
</main>
